.main_heading
{color: #bf4aa8;
  background-color: #A7C7E7;
  }
  header{
    text-align: center;
    background-color: #A7C7E7;
    margin: 0 auto;
padding: 12px;
 
 }
 h1{text-align: center;}
p{text-align: center;}
div {text-align: center;
color: #bf4aa8;}
section
{text-align: center;
color: #bf4aa8;}
body {background-color: #A7C7E7;
color: #bf4aa8 ;}
form{border-bottom-left-radius: 100cm;
font: 1em sans-serif;}
